<nav class="navigation" role="navigation">
  <%= link_to(t("administrate.navigation.back_to_app"), root_url, class: "button button--alt") if defined?(root_url) %>

  <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
    <% next if [BeerDailyDataPoint, BeerHourlyDataPoint].include?(model_from_resource(resource)) %>
    <%= link_to(
      display_resource_name(resource),
      resource_index_route(resource),
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) if accessible_action?(model_from_resource(resource), :index) %>
  <% end %>

  <%= link_to('Background Jobs', admin_good_job_path, class: 'navigation__link') %>

  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "text-red-600 hover:text-red-700") %>
</nav>
