<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
      <div class="px-5 py-2">
        <a href="/beers" class="text-base leading-6 text-gray-500 hover:text-gray-900">
          Beers!
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="/posts" class="text-base leading-6 text-gray-500 hover:text-gray-900">
          Blog
        </a>
      </div>
    </nav>
    <div class="mt-8 flex justify-center">
      <a href="https://www.instagram.com/rotatoripa/" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Instagram</span>
        <i class="fab fa-instagram-square h-6 w-6"></i>
      </a>
      <a href="https://www.linkedin.com/in/jaryd-krishnan/" class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">LinkedIn</span>
        <i class="fab fa-linkedin h-6 w-6"></i>
      </a>
      <a href="https://twitter.com/jarydkrish" class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <i class="fab fa-twitter h-6 w-6"></i>
      </a>
      <a href="https://github.com/jarydkrish" class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <i class="fab fa-github h-6 w-6"></i>
      </a>
    </div>
    <div class="mt-8">
      <p class="text-center text-base leading-6 text-gray-400">
        &copy; 2020 Jaryd Krishnan. All rights reserved.
      </p>
    </div>
  </div>
</div>
