<% content_for :head do %>
  <meta property="og:title" content="Rotator IPA">
  <meta property="og:description" content="Brewing the beer you probably might want.">
  <meta property="og:image" content="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
  <meta property="og:url" content="https://rotatoripa.co">
  <meta name="twitter:title" content="Rotator IPA">
  <meta name="twitter:description" content="Brewing the beer you probably might want.">
  <meta name="twitter:image" content="https://rotatoripa.co/rotator-ipa-sharing-icon.png">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<%= render partial: 'pages/header' %>

<div class="relative py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
  <div class="relative max-w-7xl mx-auto">
    <%= render partial: 'beers/beers', locals: { beers: @beers } %>
  </div>
</div>

<%= render partial: 'pages/home/content' %>

<%= render partial: 'pages/footer' %>
