<div class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">
  <% beers.each do |beer|  %>
    <% cache beer do %>
      <%= render partial: 'beers/beer', locals: { beer: beer } %>
    <% end %>
  <% end %>
</div>
